<h1>Lista de BOPs</h1>
<!-- Opções para adicionar um novo item -->
<section class="newItem">
  <input type="text" id="sonda" placeholder="Digite a sonda:">
  <button onclick="buscarBOP()" class="addBtn">Buscar</button>
  <button onclick="listarBOP()" class="addBtn">Todos</button>
</section>
<table id="data-table" class="table">
  <thead>
    <tr>
      <th scope="col">Sonda</th>
      <th scope="col">Tipo</th>
      <th scope="col">Valvulas</th>
      <th scope="col">Preventores</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <!-- Data will be inserted here dynamically -->
  </tbody>
</table>